﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageMain.master" AutoEventWireup="true" CodeFile="contact.aspx.cs" Inherits="contact" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <div class="center_content">
      <div class="center_title_bar" style="text-align:right; padding-right:20px;">:ارتباط با ما</div>
      <div class="prod_box_big">
        <div class="center_prod_box_big">
          <div class="contact_form">
            <div class="form_row">
              <label class="contact"style="font-size:16px;"><strong>نام:</strong></label>
              <input type="text" class="contact_input" />
            </div>
            
            <div class="form_row">
              <label class="contact"style="font-size:16px;"><strong>پیغام:</strong></label>
              <textarea class="contact_textarea" ></textarea>
            </div>
            <div class="form_row"> <a href="#" class="prod_details"style="font-size:12px;">ارسال</a> </div>
          </div>
        </div>
      </div>
    </div>      

</asp:Content>

