﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageMain.master" AutoEventWireup="true" CodeFile="Error404.aspx.cs" Inherits="Error404" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

 <div class="center_content">
      <div class="center_title_bar"style="text-align:center;font-family:BTiBo;color:#106ead">!توجه!توجه</div>
      <div class="prod_box_big">
          <div class="Center center_prod_box_big"
           <h1 style="text-align:center; font-family:B Titr; font-size:20px;">این صفحه در حال بروزرسانی می باشد</h1>
        </div>
      </div>
    </div>


</asp:Content>

