/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "2Bar";
    src: url("./fonts/2Baran.eot"); /* IE9 Compat Modes */
    src: url("./fonts/2Baran.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/2Baran.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/2Baran.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AFarz2";
    src: url("./fonts/AFarzian2.eot"); /* IE9 Compat Modes */
    src: url("./fonts/AFarzian2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/AFarzian2.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/AFarzian2.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BTiBo";
    src: url("./fonts/BTitrBold.eot"); /* IE9 Compat Modes */
    src: url("./fonts/BTitrBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/BTitrBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/BTitrBold.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "2Kar";
    src: url("./fonts/2Karim.eot"); /* IE9 Compat Modes */
    src: url("./fonts/2Karim.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/2Karim.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/2Karim.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BAra";
    src: url("./fonts/BArash.eot"); /* IE9 Compat Modes */
    src: url("./fonts/BArash.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/BArash.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/BArash.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BNaza";
    src: url("./fonts/BNazanin.eot"); /* IE9 Compat Modes */
    src: url("./fonts/BNazanin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/BNazanin.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/BNazanin.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BRo";
    src: url("./fonts/BRoya.eot"); /* IE9 Compat Modes */
    src: url("./fonts/BRoya.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/BRoya.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/BRoya.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BShir";
    src: url("./fonts/BShiraz.eot"); /* IE9 Compat Modes */
    src: url("./fonts/BShiraz.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/BShiraz.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/BShiraz.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BHom";
    src: url("./fonts/BHoma.eot"); /* IE9 Compat Modes */
    src: url("./fonts/BHoma.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/BHoma.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/BHoma.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BYek";
    src: url("./fonts/BYekan.eot"); /* IE9 Compat Modes */
    src: url("./fonts/BYekan.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/BYekan.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/BYekan.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ErasILig";
    src: url("./fonts/ErasITC-Light.eot"); /* IE9 Compat Modes */
    src: url("./fonts/ErasITC-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/ErasITC-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/ErasITC-Light.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ModeRegul";
    src: url("./fonts/Modern-Regular.eot"); /* IE9 Compat Modes */
    src: url("./fonts/Modern-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Modern-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Modern-Regular.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}