body
{
background:url(images/bg2.jpg) repeat-x #333333 center;
padding:0;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
margin:0px auto auto auto;
color:#000;
}
p{
padding:2px;
margin:0px;
}
#main_container{
width:1000px;
height:auto;
margin:auto;
padding:0px;
background-color:#000000;
}
#header {
    width: 1000px;
    height: 136px;
    background: url(images/header.jpg) no-repeat center;
    background-position: 0px 0px;
    margin: auto;
}
#logo{
float:left;
padding:10px 10px 10px 10px;
}
#main_content{
clear:both;
}
.languages{
float:right;
width:150px;
padding:8px 0 0 0;
}
.lang_text{
float:left;
padding:0 5px 0 0;
color:#1DA1CF;
}
a.lang{
display:block;
float:left;
padding:0 5px 0 5px;
}
.top_right{
width:728px;
float:right;
}
.big_banner{
float:right;
padding:0 0 0 0;
    width: 724px;
    height: 136px;
    margin-left: 0px;
}
/*---------------- menu tab----------------------*/
#menu_tab{
width:1000px;
height:36px;
background:url(images/menu_bg.gif) repeat-x;
}
ul.menu {
list-style-type:none; float:right; display:block; width:982px; 
margin:0px; padding:0px;background:url(images/menu_bg.gif) repeat-x;}

    ul.menu li {
        display: inline;
        font-size: 13px;
        font-family: BTiBo;
        float: right;
        line-height: 36px;
    }
ul.menu li.divider {
display:inline;
width:4px;
height:36px;
float:right;
background:url(images/menu_divider.gif) no-repeat center;
}

a.nav:link, a.nav:visited {
display:block; float:left; padding:0px 8px 0px 8px; margin:0 14px 0 14px;height:36px;text-decoration:none;color:#fff;}

a.nav:hover{
display:block; float:left; padding:0px 8px 0px 8px; margin:0 14px 0 14px;height:36px;text-decoration:none;color:#199ECD;}

/*----------------crumb_navigation-------------*/
.crumb_navigation{
width:980px;
height:15px;
padding:5px 10px 0 20px;
color:#333333;
background:url(images/navbullet.png) no-repeat left;
background-position:5px 8px;
}
.crumb_navigation a{
color:#0fa0dd;
text-decoration:underline;
}
span.current{
color:#0fa0dd;
}

/*-------------left_content------------------*/
.left_content{
width:180px;
float:left;
padding:0 0 0 5px;
}
.title_box {
    width: 180px;
    height: 30px;
    margin: 5px 0 0 0;
    background: url(images/menu_title_bg.gif) no-repeat center;
    text-align: center;
    font-size: 13px;
    color: #159dcc;
    line-height: 30px;
    font-family: BHom;
}
/*--------left menu---------*/
ul.left_menu{
width:180px;
padding:0px;
margin:0px;
list-style:none;
}
    ul.left_menu li {
        margin: 0px;
        list-style: none;
        font-size: 16px;
        font-family: BNaza;
        padding-right: 20px;
    }
ul.left_menu li.odd a{
width:166px;height:25px;display:block; border-bottom:1px #e4e4e4 dashed;
text-decoration:none;color:#303030;padding:100 0 0 0px; line-height:25px;
}
ul.left_menu li.even a{
width:166px;height:25px;display:block; border-bottom:1px #e4e4e4 dashed; background-color:#fd0f4f5;
text-decoration:none;color:#303030;padding:100 0 0 0px; line-height:25px;
}
ul.left_menu li.even a:hover, ul.left_menu li.odd a:hover{
color:#199ECD; text-decoration:none;
}

.border_box{
width:180px;
height:auto;
text-align:center;
background:url(images/box_bottom_bg.gif) no-repeat center bottom;
}
.product_title {
    color: #ff8a00;
    padding: 5px 0 5px 0;
    font-weight: bold;
    font-family: ErasILig;
    font-size:13px;
}
.product_title a{
text-decoration:none;
color:#ff8a00;
padding:5px 0 5px 0;
font-weight:bold;
}
.product_title a:hover{
color:#064E5A;
}
.product_img{
padding:5px 0 5px 0;
}
.prod_price {
    padding: 5px 0 5px 0;
    font-family: BNaza;
    font-size: 18px;
}
span.reduce{
color:#666666;
text-decoration:line-through;
}
span.price{
color: #ff8a00;
}
/*----------newsletter--------------*/
input.newsletter_input{
width:150px;
height:16px;
border:1px #ddd9d9 solid;
margin:10px 0 5px 0;
font-size:12px;
padding:3px;
color:#999999;
}
a.join{
margin:0px 0 5px 10px;
padding:2px 8px 6px 8px;
text-decoration: underline;
color:#169ECC;
}
.banner_adds{
width:180px;
text-align:center;
padding:10px 0 10px 0;
}
/*--------------oferta------------------*/
.oferta{
width:585px;
height:156px;
background:url(images/slider_bg.gif) no-repeat center;
float:left;
padding:0px;
margin:0 0 5px 5px;
}
.oferta_img{
float:left;
padding:10px 0 0 10px;
}
.oferta_title{
font-size:15px;
color:#159dcc;
font-weight:bold;
}
.oferta_details{
width:340px;
float:left;
padding:20px 0 0 30px;
}
.oferta_text{
padding:5px 0 5px 0;
font-size:12px;
color:#159dcc;
text-align:justify;
line-height:15px;
}
/*center content--------------------------*/
.center_content{
width:600px;
float:left;
padding:5px 10px 5px 15px;
}
.center_title_bar {
    width: 575px;
    height: 31px;
    float: right;
    padding: 0 0 0 10px;
    margin: 0 0 0 5px;
    line-height: 31px;
    font-size: 16px;
    color: #159DCC;
    font-family: BHom;
    background: url(images/bar_bg.gif) no-repeat center;
}

/*----------------------right content--------------*/
.right_content{
width:180px;
float:left;
padding:0px;
}
.shopping_cart{
width:180px;
height:84px;
text-align:center;
}
.cart_title{
font-size:12px;
font-size:12px;
color:#847676;
font-weight:bold;
padding:0px;
}
.cart_details {
    width: 115px;
    float: left;
    font-size: 16px;
    font-family: BNaza;
    padding: 5px 0 0 15px;
    text-align: left;
}
.cart_icon{
float:left;
padding:5px 0 0 5px;
}
span.border_cart{
width:100px;
font-size:14px;
font-family:BNaza;
height:1px;
margin:3px 0 3px 0;
display:block;
border-top:1px #999999 dashed;
}
/*---------prod_box----------*/
.prod_box{
width:173px;
height:auto;
float:right;
padding:10px 10px 10px 11px;
}
.center_prod_box{
width:173px;height: auto;float:left; text-align:center;padding:0px; margin:0px; border:1px #F0F4F5 solid;
}
.prod_details_tab {
    width: 173px;
    height: 31px;
    float: left;
    margin: 3px 0 0 0;
    font-family: BNaza;
    font-size:16px;
}
img.left_bt{
float:left;
padding:6px 0 0 6px;
}
a.prod_details {
    width: 75px;
    height: 24px;
    display: block;
    float: left;
    background: url(images/link_bg.gif) no-repeat center;
    margin: 2px 5px 0 0;
    text-align: center;
    line-height: 24px;
    text-decoration: none;
    color: #159dcc;
    font-family: BNaza;
}

a.prod_compare{
width:75px;
height:24px;
display:block;
float:left;
background:url(images/link_bg.gif) no-repeat center;
margin:2px 0 0 5px;
text-align:center;
line-height:24px;
text-decoration:none;
color:#ff8a00;
}
a.prod_buy {
    width: 175px;
    height: 24px;
    display: block;
    float: left;
    background: url(images/link_bg.gif) no-repeat center;
    margin: 2px 0 0 5px;
    text-align: center;
    line-height: 24px;
    text-decoration: none;
    color: #ff8a00;
}
/*---------prod_box_big----------*/
.prod_box_big{
width:554px;
height:auto;
float:left;
padding:10px 10px 15px 15px;
}
.center_prod_box_big{
width:554px;height: auto;float:left; text-align:center;padding:0 0 10px 0; margin:0px;border:1px #F0F4F5 solid;
}
.product_img_big{
width:175px;
height:300px;
padding:10px 0 0 10px;
float:left;
}
.details_big_box{
width:345px;
float:left;
padding:0 0 0 15px;
text-align:left;
}
.product_title_big {
    color: #ff8a00;
    padding: 5px 0 5px 0;
    font-weight: bold;
    font-size: 16px;
    font-family: ErasILig;
}
.specifications{
font-size:16px;
line-height:25px;
}
.thumbs{
padding:8px 5px 8px 5px;
border:1px #DFD1D1 solid;
margin:15px 0 0 0;
}
.thumbs a{
padding:3px;
}
.prod_price_big{
padding:5px 0 5px 0;
font-size:16px;
}
a.addtocart{
width:76px;
height:27px;
display:block;
float:left;
background:url(images/addtocart.gif) no-repeat left;
padding:0 0 0 33px;
text-decoration:none;
line-height:27px;
color:#1c4a52;
}
a.compare{
width:76px;
height:27px;
display:block;
float:left;
margin:0 0 0 10px;
background:url(images/compare.gif) no-repeat left;
padding:0 0 0 33px;
text-decoration:none;
line-height:27px;
color:#1c4a52;
}
span.blue{
color:#999999;
}
/*---------------contact_form------------------*/
.contact_form{
width:355px;
float:left;
padding:0px 0 0 75px;
}
.form_row{
width:335px;
clear:both;
padding:10px 0 10px 0;
color:#a53d17;
}
label.contact{
width:75px;
float:left;
font-size:12px;
text-align:right;
padding:4px 5px 0 0;
color: #333333;
}
input.contact_input{
width:253px;
height:18px;
background-color:#fff;
color:#999999;
border:1px #DFDFDF solid;
float:left;
}
textarea.contact_textarea{
width:253px;
height:100px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color: #999999;
background-color:#fff;
border:1px #DFDFDF solid;
float:left;
}
a.contact{
width:99px;
height:27px;
display:block;
float:right;
margin:0 0 0 10px;
background:url(images/contact_bt.gif) no-repeat left;
padding:0 0 0 10px;
text-decoration:none;
line-height:27px;
color:#1c4a52;
}
/*--------------footer----------------*/
.footer{
width:1000px;
clear:both;
height:65px;
background:url(images/footer_bg.gif) repeat-x top;
}
.left_footer{
float:left;
width:300px;
padding:5px 0 0 10px;
}
.right_footer{
float:right;
padding:15px 30px 0 0;
}
.right_footer a{
padding:0 0 0 7px;
text-decoration:none;
color: #666666;
}
.right_footer a:hover{
text-decoration:underline;
}

.center_footer{
float:left;
width:200px;
text-align:center;
font-family:AFarz2;
color:#666666;
padding:10px 0 0 60px;
}